﻿@model FightAthlete.Models.DbModels.Level

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Levels</h2>

<div class="panel panel-default">
    <div>
        <div class="panel-heading">
            <h4>Details</h4>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>
        </div>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class="btn btn-default"}) |
        @Html.ActionLink("Cancel", "Index",null, new {@class="btn btn-default"})
    </div>
</div>