﻿@model IEnumerable<FightAthlete.Models.DbModels.Frequency>

@{
    ViewBag.Title = "Frequency";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Frequencies</h2>

<p>
    @Html.ActionLink("Create new frequency", "Create", null, new { @class = "btn btn-info orange-button" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
