﻿@model FightAthlete.Models.DbModels.Workout

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div ng-app="fight-app" ng-controller="createWorkoutCtrl">
    <form enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Create new workout
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" ng-change="nameChanged()" ng-model="workout.Name" placeholder="Name">
							<p ng-show="nameExists" style="color:red">Name already exists</p>
                        </div>
                        <div class="form-group">
                                <label>Goal</label>
                                <textarea class="form-control" ng-model="workout.Goal" rows="3"></textarea>
                            </div>
                        <div class="form-group">
                            <label>Type</label>
                            <select class="form-control" ng-model="workout.Type">
                                <option value="Strength">Strength</option>
                                <option value="Circuit">Circuit</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Points</label>
                            <input class="form-control" ng-model="workout.Points" placeholder="Points">
                        </div>
                        <div class="form-group">
                            <label>Preference</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="workout.IsBattleWorkout">Battle Workout
                                </label>
                            </div>
                            @*<div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="workout.IsRestDay">Rest Day
                                    </label>
                                </div>*@
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="workout.IsBasicVersion">For Basic Version
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="workout.IsNew">New
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="workout.IsActive">Active
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Relations
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Objectives</label>
                            <div ng-repeat="objective in objectives">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checklist-model="workout.Objectives" checklist-value="objective">{{objective.Name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Levels</label>
                            <div ng-repeat="level in levels">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checklist-model="workout.Levels" checklist-value="level">{{level.Name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Media
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Image</label>
                            <input type="file" file-model="myFile">
                            <p class="help-block">Max file size 1024 kb.</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Exercises
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="well well-sm">
                                    <table style="width: 100%" class="table table-striped">
                                        <tr ng-repeat="exercise in workout.Exercises track by $index">
                                            <td>{{$index+1}}</td>
                                            <td>{{exercise.Name}}</td>
                                            <td>
                                                <div style="float: right; height: 36px;">
                                                    <a style="padding-top: 5px" href="javascript:void(0)" ng-click="changeIndexUp($index)" ng-hide="$index==0"><span><i class="fa fa-caret-square-o-up fa-2x" style="margin-top: -7px;"></i></span></a>
                                                    <a href="javascript:void(0)" ng-click="changeIndexDown($index)" ng-hide="$index==(workout.Exercises.length-1)"><span><i class="fa fa-caret-square-o-down fa-2x" style="margin-top: -7px;"></i></span></a>
                                                    <a style="height: 35px;" data-toggle="modal" data-target="#myModal" ng-click="changeIndex($index)" class="btn btn-primary">Preferences</a>
                                                    <a ng-click="removeExercise($index)" style="height: 35px;" href="" class="btn btn-danger">Remove</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <!--<div ng-show="workout.Exercises.length>0">
                                        {{workout.Exercises[index].Name}}
                                        <div style="float:right">
                                            <a href="javascript:void(0)" ng-click="changeIndex(-1)" ng-hide="index==0"><span><i class="fa fa-caret-square-o-up fa-2x" style="margin-top: -7px;"></i></span></a>
                                            <a href="javascript:void(0)" ng-click="changeIndex(1)" ng-hide="index==(workout.Exercises.length-1)"><span><i class="fa fa-caret-square-o-down fa-2x" style="margin-top: -7px;"></i></span></a>
                                            <a style="margin-top: -10px;height: 35px;" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Preferences</a>
                                            <a ng-click="removeExercise(index)" style="margin-top: -10px;height: 35px;" href="" class="btn btn-danger">Remove</a>
                                        </div>
                                    </div>-->
                                </div>
                            </div>

                        </div>

                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Preferences</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Reps Low</label>
                                                    <input class="form-control" ng-model="workout.Exercises[index].Reps" value="0">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Reps High</label>
                                                    <input class="form-control" ng-model="workout.Exercises[index].RepHigh" value="0">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-show="workout.Type=='Strength'">
                                            <label>Sets</label>
                                            <input class="form-control" ng-model="workout.Exercises[index].Sets" value="0">
                                        </div>
                                        <div class="form-group" ng-show="workout.Type=='Strength'">
                                            <label>Tempo</label>
                                            <input class="form-control" ng-model="workout.Exercises[index].Tempo" value="0">
                                        </div>
                                        <div class="form-group" ng-show="workout.Type=='Strength'">
                                            <label>Rests</label>
                                            <input class="form-control" ng-model="workout.Exercises[index].Rests" value="0">
                                        </div>
                                        <div class="form-group" ng-show="workout.Type=='Circuit' && workout.Exercises[index].Distance==0">
                                            <label>Weight (in kg)</label>
                                            <input class="form-control" ng-model="workout.Exercises[index].Weight" value="0">
                                        </div>
                                        <div class="form-group" ng-show="workout.Type=='Circuit' && workout.Exercises[index].Weight==0">
                                            <label>Distance (in km)</label>
                                            <input class="form-control" ng-model="workout.Exercises[index].Distance" value="0">
                                        </div>
                                        <div class="form-group" ng-hide="workout.Exercises[index].IsRestExercise==0">
                                            <label>Duration</label>
                                            <input class="form-control" ng-model="workout.Exercises[index].Duration">
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="form-inline col-md-12">
                                <div style="float: right; margin-left: 5px">
                                    <input style="width: 120px" type="text" class="form-control" placeholder="Search" ng-model="search" />
                                </div>
                                <div style="float: right; margin-left: 5px">
                                    <select class="form-control" id="IsBasicVersion" ng-model="selectedVersion" ng-change="versionFilter()">
                                        <option value="">All Version</option>
                                        <option value="true">Basic</option>
                                    </select>
                                </div>
                                <div style="float: right; margin-left: 5px">
                                    <select class="form-control" id="IsActive" ng-model="isActive" ng-change="activeFilter()">
                                        <option value="">For All</option>
                                        <option value="true">Active</option>
                                    </select>
                                </div>
                                <div style="float: right; margin-left: 5px">
                                    <select class="form-control" id="Level" ng-model="selectedLevel">
                                        <option value="">Level</option>
                                        <option ng-repeat="level in levels" value="{{level.Name}}">{{level.Name}}</option>
                                    </select>
                                </div>
                                <div style="float: right; margin-left: 5px">
                                    <select class="form-control" id="group" ng-model="selectedGroup">
                                        <option value="">Muscle Group</option>
                                        <option ng-repeat="group in muscleGroups" value="{{group.Name}}">{{group.Name}}</option>
                                    </select>
                                </div>
                                <div style="float: right; margin-left: 5px">
                                    <select class="form-control" id="group" ng-model="selectedTool">
                                        <option value="">Tool</option>
                                        <option ng-repeat="tool in tools" value="{{tool.Name}}">{{tool.Name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12" style="padding-top: 10px">
                                <ul class="list-group">         
                                    @*<li class="list-group-item" ng-repeat="item in data | orderBy:sortType:sortReverse | filter:{ Name:search, Levels: {Name: selectedLevel}, MuscleGroups: {Name: selectedGroup}, Tools: {Name: selectedTool}, IsBasicVersion: selectBasicVersion} | startFrom:currentPage*pageSize | limitTo:pageSize">{{item.Name}}*@
                                    <li class="list-group-item" ng-repeat="item in data | orderBy:sortType:sortReverse | customExerciseFilter:{search:search, Levels: {Name: selectedLevel}, MuscleGroups: {Name: selectedGroup}, Tools: {Name: selectedTool}, IsBasicVersion: selectBasicVersion} | startFrom:currentPage*pageSize | limitTo:pageSize">{{item.Name}}
                                        <span class="badge"><a href="javascript:void(0)" data-toggle="modal" data-target="#detailsModal" ng-click="changeExercise(item)">Details</a></span>
                                        <span class="badge"><a href="javascript:void(0)" ng-click="addExercise(item)">Add</a></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <div style="float: right">
                                    <button class="btn btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                        <<
                                    </button>
                                    Page {{currentPage+1}} of {{numberOfPages()}}
                                    <button class="btn btn-primary" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
                                        >>
                                    </button>
                                </div>
                            </div>
                        </div>
						<div id="detailsModal" class="modal fade" role="dialog">
							<div class="modal-dialog">

								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Exercise Details</h4>
									</div>
									<div class="modal-body">
										<table class="table table-striped" style="width:80%">
											<tr>
												<td style="float:right">Name</td>
												<td>{{exercise.Name}}</td>
											</tr>
											<tr ng-show="exercise.IsRestExercise">
												<td style="float:right">Duration</td>
												<td>{{exercise.Duration}}</td>
											</tr>
											<tr>
												<td style="float:right">Levels</td>
												<td>
													<p ng-repeat="level in exercise.Levels">{{level.Name}}</p>
												</td>
											</tr>
											<tr>
												<td style="float:right">Muscle Groups</td>
												<td>
													<p ng-repeat="group in exercise.MuscleGroups">{{group.Name}}</p>
												</td>
											</tr>
											<tr>
												<td style="float:right">Tools</td>
												<td>
													<p ng-repeat="tool in exercise.Tools">{{tool.Name}}</p>
												</td>
											</tr>
                                            <tr>
                                                <td style="float:right">Vedio</td>
                                                <td><a target="blank" href="{{exercise.Video}}">Play video</a></td>
                                            </tr>
										</table>

									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
									</div>
								</div>

							</div>
						</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <button id="create" type="submit" ng-disabled="nameExists" class="btn btn-primary orange-button" ng-click="submit()">Create Workout</button>
                        <a href="/Workouts" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<script src="https://vitalets.github.io/checklist-model/checklist-model.js"></script>
<script src="~/Scripts/angular/app.js"></script>
<script src="~/Scripts/angular/Directives/file.directive.js"></script>
<script src="~/Scripts/angular/Controllers/createWorkout.controller.js"></script>
<script src="~/Scripts/angular/Services/exercise.service.js"></script>

<script>
    var sncro = 1;

    window.onbeforeunload = function (evt) {
        if (sncro === 1) {
            var message = 'Are you sure you want to leave?';
            if (typeof evt == 'undefined') {
                evt = window.event;
            }
            if (evt) {
                evt.returnValue = message;
            }
            return message;
        }
    };

    var create = document.getElementById('create');

    create.onclick = function (e) {
        sncro = 2;
    };
</script>
