﻿@model IEnumerable<FightAthlete.Models.DbModels.Workout>

@{
    ViewBag.Title = "Workout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div ng-app="fight-app">
    <div ng-view>
    </div>
</div>

<script src="~/Scripts/angular/app.js"></script>
<script src="~/Scripts/angular/Services/workout.service.js"></script>
<script src="~/Scripts/angular/Services/exercise.service.js"></script>
<script src="~/Scripts/angular/workout-app.js"></script>
<script src="~/Scripts/angular/Controllers/homeWorkout.controller.js"></script>
<script src="~/Scripts/angular/Controllers/editWorkout.controller.js"></script>
<script src="~/Scripts/angular/Controllers/viewWorkout.controller.js"></script>

