﻿<div >
    <form enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Create New Program
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" ng-model="program.Name" placeholder="Name">
                        </div>
                        <!--<div class="form-group">
                            <label>Points</label>
                            <input class="form-control" type="number" ng-model="program.Point" placeholder="Points">
                        </div>-->
                        <div class="form-group">
                            <label>Preference</label>
	                        <div class="checkbox">
		                        <label>
			                        <input type="checkbox" ng-model="program.IsBasic">For Basic Version
		                        </label>
	                        </div>
                            <div class="checkbox">
		                        <label>
			                        <input type="checkbox" ng-model="program.IsNew">New
		                        </label>
	                        </div>
							<div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="program.IsActive">Active
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Relations
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Frequency</label>
                            <select class="form-control" ng-options="item.Name for item in frequencies" ng-model="frequency"></select>
                        </div>
                        <div class="form-group">
                            <label>Duration (In weeks)</label>
                            <select class="form-control" ng-options="item.Name for item in durations" ng-change="durationChanged()" ng-model="duration"></select>
                        </div>
                        <div class="form-group">
                            <label>Levels</label>
                            <div ng-repeat="level in levels">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checklist-model="program.Levels" checklist-value="level">{{level.Name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" ng-hide="duration.Name==0">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Add Workouts
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <table class="table table-striped" >
                                <tr ng-repeat="items in list1 track by list1.indexOf(items)" data-drop="true" ng-model='items' jqyoui-droppable="{multiple:true}">
                                    <td width="20%">
                                        Day {{$index+1}}
                                    </td>
                                    <td>
                                        <table class="table table-bordered" style="margin-bottom:5px!important">
                                            <tr ng-repeat="item in items track by $index">
                                                <td>
                                                    <div class="btn btn-info btn-draggable" ng-show="item.Name" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="items" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.Name}}</div>
                                                </td>
                                                <td style="width:20%">
                                                    <a href="javascript:void(0)" ng-click="remove(items,$index)">Remove</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <div class="form-inline col-md-12">
	                            <div style="float:right;margin-left:5px">
		                            <input style="width:120px" type="text" class="form-control" placeholder="Search" ng-model="search" />
	                            </div>
                                <div style="float:right;margin-left:5px">
                                    <select class="form-control" id="IsBasicVersion" ng-model="selectedVersion" ng-change="versionFilter()">
                                        <option value="">For All</option>
                                        <option value="true">For Basic Version</option>
                                    </select>
                                </div>
                                <div style="float:right;margin-left:10px">
                                    <select class="form-control" id="Level" ng-model="selectedLevel">
                                        <option value="">Level</option>
                                        <option ng-repeat="level in levels" value="{{level.Name}}">{{level.Name}}</option>
                                    </select>
                                </div>
                                <div style="float:right;margin-left:10px">
                                    <select class="form-control" id="group" ng-model="selectedObjective">
                                        <option value="">Objective</option>
                                        <option ng-repeat="obj in objectives" value="{{obj.Name}}">{{obj.Name}}</option>
                                    </select>
                                </div>
                                <div style="float:right;margin-left:10px">
                                    <select class="form-control" id="Level" ng-model="selectedTool">
                                        <option value="">Tool</option>
                                        <option ng-repeat="tool in tools" value="{{tool.Name}}">{{tool.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12" style="padding-top:10px">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="item in workouts | filter:{ Name:search, Levels: {Name: selectedLevel}, Objectives: {Name: selectedObjective}, Tools: {Name: selectedTool}} | startFrom:currentPage*5 | limitTo:5">
                                        <div class="btn btn-info btn-draggable" ng-show="item.Name" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="workouts" jqyoui-draggable="{index: {{workouts.indexOf(item)}}, animate: true, placeholder: 'keep'}">{{item.Name}}</div>
                                    </li>
                                </ul>
                            </div>
                            <div style="float:right">
                                <button class="btn btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                                    <<
                                </button>
                                Page {{currentPage+1}} of {{numberOfPages()}}
                                <button class="btn btn-primary" ng-disabled="currentPage >= numberOfPages()" ng-click="currentPage=currentPage+1">
                                    >>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <button type="submit" class="btn btn-primary" ng-click="submit()">Update Program</button>
                        <a href="/Programs" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<style>
    .btn-droppable {
        width: 100%;
        height: 30px;
        padding-left: 4px;
    }

    table .btn-draggable {
        margin-top: -4px;
        width: 100%;
    }

    .btn-draggable {
        width: 100%;
    }
</style>

