﻿<h2>Programs</h2>

<div class="panel panel-default">


    <div class="panel-heading">
        <a href="/Programs/Create" class="btn btn-info orange-button">Create new program</a>
    </div>
    <div class="panel-body">
        <div class="form-inline col-md-12" style="margin-bottom: 10px">
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <div><b>Basic Version</b></div>
                    <select class="form-control" id="IsBasicVersion" ng-model="selectedVersion" ng-change="versionFilter()">
                        <option value="">For All</option>
                        <option value="true">For Basic Version</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div><b>Active</b></div>
                    <select class="form-control" id="IsActive" ng-model="isActive" ng-change="activeFilter()">
                        <option value="">All</option>
                        <option value="true">Active</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div><b>Duration</b></div>
                    <select class="form-control" ng-model="selectedDuration">
                        <option value="">All</option>
                        <option ng-repeat="duration in durations" value="{{duration.Id}}">{{duration.Name}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div><b>Frequency</b></div>
                    <select class="form-control" ng-model="selectedFrequency">
                        <option value="">All</option>
                        <option ng-repeat="frq in frequencies" value="{{frq.Id}}">{{frq.Name}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div><b>Level</b></div>
                    <select class="form-control" ng-model="selectedLevel">
                        <option value="">All</option>
                        <option ng-repeat="level in levels" value="{{level.Name}}">{{level.Name}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div><b>Tool</b></div>
                    <select class="form-control" id="Level" ng-model="selectedTool">
                        <option value="">All</option>
                        <option ng-repeat="tool in tools" value="{{tool.Name}}">{{tool.Name}}</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div><b>Search</b></div>
                    <input type="text" style="width: 140px" class="form-control" placeholder="By name" ng-model="search" />
                </div>
            </div>
        </div>
        <br /><br />
        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th style="width:30%">
                        <a href="javascript:void(0)" ng-click="sortType = 'Name'; sortReverse = !sortReverse">
                            Name
                            <span ng-show="sortType == 'Name' && !sortReverse"><i class="fa fa-caret-down"></i></span>
                            <span ng-show="sortType == 'Name' && sortReverse"><i class="fa fa-caret-up"></i></span>
                        </a>
                    </th>
                    <th style="width:30%">
                        <a href="javascript:void(0)" ng-click="sortType = 'CreatedOn'; sortReverse = !sortReverse">
                            Created
                            <span ng-show="sortType == 'CreatedOn' && !sortReverse"><i class="fa fa-caret-down"></i></span>
                            <span ng-show="sortType == 'CreatedOn' && sortReverse"><i class="fa fa-caret-up"></i></span>
                        </a>
                    </th>
                    <!--<th style="width:40%">
                        <a href="javascript:void(0)" ng-click="sortType = 'Point'; sortReverse = !sortReverse">
                            Point
                            <span ng-show="sortType == 'Point' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'Point' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>-->
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data | orderBy:sortType:sortReverse | filter:{ Name:search, Levels: {Name: selectedLevel}, Tools: {Name: selectedTool}} | filter: {FrequencyId:selectedFrequency, DurationId: selectedDuration} :filterId | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td>{{item.Name}}</td>
                    <td>{{item.CreatedOn | date :  "M/d/yyyy h:mm a"}}</td>
                    <!--<td>{{item.Point}}</td>-->
                    <td>
                        <a href="#/View/{{item.Id}}">View</a> |
                        <a href="#/Edit/{{item.Id}}">Edit</a> |
                        <a href="javascript:void(0)" ng-click="delete(item.Id)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <div style="float:right">
            <button class="btn btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                <<
            </button>
            Page {{currentPage+1}} of {{numberOfPages()}}
            <button class="btn btn-primary" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
                >>
            </button>
        </div>
    </div>
</div>

