﻿<h2>Workout</h2>

<div class="panel panel-default">
    <div>
        <div class="panel-heading">
            <h4>Details</h4>
        </div>
        <div class="panel-body">
            <table class="table table-striped" style="width:80%">
                <tr>
                    <td style="float:right">Name</td>
                    <td>{{workout.Name}}</td>
                </tr>
                <!--<tr>
                    <td style="float:right">Goal</td>
                    <td>{{workout.Goal}}</td>
                </tr>-->
                <tr>
                    <td style="float:right">Type</td>
                    <td>{{workout.Type}}</td>
                </tr>
                <tr>
                    <td style="float:right">Points</td>
                    <td>{{workout.Points}}</td>
                </tr>
                <tr>

                </tr>
                <tr>
                    <td style="float:right">Exercises</td>
                    <td>
                        <table class="table table-striped">
                            <tr>
                                <th>Name</th>
                                <th>Reps</th>
                                <th>Sets</th>
                                <th>Tempo</th>
                                <th>Rests</th>
                                <th>Duration</th>
                                <th>Distance</th>
                                <th>Weight</th>
                            </tr>
                            <tr ng-repeat="ex in workout.Exercises">
                                <td>{{ex.Name}}</td>
                                <td>{{ex.Reps}}</td>
                                <td>{{ex.Sets}}</td>
                                <td>{{ex.Tempo}}</td>
                                <td>{{ex.Rests}}</td>
                                <td>{{ex.Duration}}</td>
                                <td>{{ex.Distance}}</td>
                                <td>{{ex.Weight}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="float:right">Levels</td>
                    <td>
                        <p ng-repeat="level in workout.Levels">{{level.Name}}</p>
                    </td>
                </tr>
                <tr>
                    <td style="float:right">Objectives</td>
                    <td>
                        <p ng-repeat="group in workout.Objectives">{{group.Name}}</p>
                    </td>
                </tr>
                <tr>
                    <td style="float:right">Tools</td>
                    <td>
                        <p ng-repeat="tool in workout.Tools">{{tool.Name}}</p>
                    </td>
                </tr>
                <tr>
                    <td style="float:right">Image</td>
                    <td>
                        <img ng-src="{{workout.Photo}}" height="500px" />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel-body">
        <a href="#/Edit/{{workout.Id}}" class="btn btn-default">Edit</a>
        <a href="#/" class="btn btn-default">Back</a>
    </div>
</div>
