﻿<h2>Program</h2>

<div class="panel panel-default">
    <div>
        <div class="panel-heading">
            <h4>Details</h4>
        </div>
        <div class="panel-body">
            <table class="table table-striped" style="width:80%">
                <tr>
                    <td style="float:right">Name</td>
                    <td>{{program.Name}}</td>
                </tr>
                <!--<tr>
                    <td style="float:right">Points</td>
                    <td>{{program.Point}}</td>
                </tr>-->
                <tr>
                    <td style="float:right">Levels</td>
                    <td>
                        <p ng-repeat="level in program.Levels">{{level.Name}}</p>
                    </td>
                </tr>
                <tr>
                    <td style="float:right">Tools</td>
                    <td>
                        <p ng-repeat="tool in program.Tools">{{tool.Name}}</p>
                    </td>
                </tr>
                <tr>
                    <td style="float:right">Workouts</td>
                    <td>
                        <div>
                            <table class="table table-bordered">
                                <tr ng-repeat="items in list1 track by $index">
                                    <td>Day {{$index+1}}</td>
                                    <td ng-show="items.length>0"><p ng-repeat="item in items">{{item.Name}}<br/></p></td>
                                    <td ng-hide="items.length>0">Rest Day</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                
            </table>
        </div>
    </div>

    <div class="panel-body">
        <a href="#/Edit/{{program.Id}}" class="btn btn-default">Edit</a>
        <a href="#/" class="btn btn-default">Back</a>
    </div>
</div>
