﻿@model FightAthlete.Models.ViewModels.ExerciseViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div ng-app="fight-app" ng-controller="exerciseCtrl">
    <form enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Create new exercise
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" ng-change="nameChanged()" ng-model="exercise.Name" placeholder="Name">
                            <p ng-show="nameExists" style="color: red">Name already exists</p>
                        </div>
                        @*<div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" ng-model="exercise.Description" rows="3"></textarea>
                        </div>*@
                        <div class="form-group">
                            <label>Preference</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="1" ng-model="exercise.IsRestExercise">Rest Exercise
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="exercise.IsBasicVersion">For Basic Version
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="exercise.IsNew">New
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="exercise.IsActive">Active
                                </label>
                            </div>
                        </div>
                        <div class="form-group" ng-show="exercise.IsRestExercise==true">
                            <label>Duration</label>
                            <input class="form-control" ng-model="exercise.Duration" placeholder="Name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Media
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Video</label>
                            <input type="file" file-model="myFile">
                            <p class="help-block">Max file size 15360 kb.</p>
                        </div>
                        <div class="form-group">
                            <label>Thumbnail</label>
                            <input type="file" file-model="thumbnail">
                            <p class="help-block">Thumbnail ratio: 1:1.12</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Relations
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Muscle Group</label>
                            <div ng-repeat="muscleGroup in muscleGroups" id="muscleGroupCheckboxes">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checklist-model="exercise.MuscleGroups" checklist-value="muscleGroup">{{muscleGroup.Name}}
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label>Tools</label>
                            <div ng-repeat="tool in tools">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checklist-model="exercise.Tools" checklist-value="tool">{{tool.Name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Levels</label>
                            <div ng-repeat="level in levels">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checklist-model="exercise.Levels" checklist-value="level">{{level.Name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <button id="create" ng-disabled="nameExists" type="submit" class="btn btn-primary orange-button" ng-click="submit()">Create Exercise</button>
                        <a href="/Exercise" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://vitalets.github.io/checklist-model/checklist-model.js"></script>
<script src="~/Scripts/angular/app.js"></script>
<script src="~/Scripts/angular/Directives/file.directive.js"></script>
<script src="~/Scripts/angular/Controllers/exercise.controller.js"></script>


<script>

    var sncro = 1;

    window.onbeforeunload = function(evt) {
        if (sncro === 1) {
            var message = 'Are you sure you want to leave?';
            if (typeof evt == 'undefined') {
                evt = window.event;
            }
            if (evt) {
                evt.returnValue = message;
            }
            return message;
        }
    };

    var create = document.getElementById('create');

    create.onclick = function(e) {
        sncro = 2;
    }

</script>

