﻿@model IEnumerable<FightAthlete.Models.DbModels.Exercise>

@{
    ViewBag.Title = "Exercise";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div ng-app="fight-app">
    <div ng-view>
    </div>
</div>

<script src="~/Scripts/angular/app.js"></script>
<script src="~/Scripts/angular/Directives/file.directive.js"></script>
<script src="~/Scripts/angular/Services/exercise.service.js"></script>
<script src="~/Scripts/angular/exercise-app.js"></script>
<script src="~/Scripts/angular/Controllers/homeExercise.controller.js"></script>
<script src="~/Scripts/angular/Controllers/editExercise.controller.js"></script>
<script src="~/Scripts/angular/Controllers/viewExercise.controller.js"></script>