﻿@model IEnumerable<FightAthlete.Models.DbModels.Objective>

@{
    ViewBag.Title = "Objective";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Objectives</h2>

<div class="panel panel-default">


    <div class="panel-heading">
        @Html.ActionLink("Create new objective", "Create", null, new { @class = "btn btn-info orange-button" })
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("View", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>