﻿@model IEnumerable<FightAthlete.Models.DbModels.Program>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div ng-app="fight-app">
    <div ng-view>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<script src="https://vitalets.github.io/checklist-model/checklist-model.js"></script>
<script src="~/Scripts/angular-dragdrop.min.js"></script>
<script src="~/Scripts/angular/program-app.js"></script>
<script src="~/Scripts/angular/Services/program.service.js"></script>
<script src="~/Scripts/angular/program.route.js"></script>
<script src="~/Scripts/angular/Controllers/homeProgram.controller.js"></script>
<script src="~/Scripts/angular/Controllers/editProgram.controller.js"></script>
<script src="~/Scripts/angular/Controllers/viewProgram.controller.js"></script>
